
.flex {
    display: flex;
}

.gap-0 {
    gap: 8px;
}

.gap-1 {
    gap: 16px;
}

.gap-2 {
    gap: 24px;
}

.jc-spacebetween {
    justify-content: space-between;
}

.padding-lr-0 {
    padding-left: 16px;
    padding-right: 16px;
}

.padding-lr-1 {
    padding-left: 32px;
    padding-right: 32px;
}

