
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.gap-0 {
    gap: 6px;
}

.gap-1 {
    gap: 16px;
}

.gap-2 {
    gap: 24px;
}

.gap-3 {
    gap: 32px;
}


.jc-spacebetween {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.padding-lr-0 {
    padding-left: 16px;
    padding-right: 16px;
}

.padding-lr-1 {
    padding-left: 32px;
    padding-right: 32px;
}

.padding-lr-2 {
    padding-left: 48px;
    padding-right: 48px;
}

.padding-lr-3 {
    padding-left: 64px;
    padding-right: 64px;
}

.padding-tb-0 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.padding-tb-1 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.padding-tb-2 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.padding-tb-3 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.padding-tb-4 {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* custom styles */

.side-button {
    position: absolute;
    left: 0;
    padding: 12px 20px;
}

.side-button-l {
    background-color: #0E76A8;
    top: 200px;
}

.side-button-g {
    background-color: #000000;
    top: 250px;
}

.side-button-e {
    background-color: #CBC4C4;
    top: 300px;
}

.red-button {
    background-color: #ED1C24;
}

.greenline-button {
    border: 1.5px solid #95E06C;
}

.highlight {
    color: #95E06C;
}

.hamburger-menu {
    display: none;
    width: 25px;
}

@media (max-width: 600px) {
    nav ul {
        position: absolute;
        right: 0;
        top: 9999px;
    }

    nav h2 {
        font-size: 16px;
    }
    nav .hamburger-menu {
        display: block;
    }
}