:root {
  font-family: "Noto Sans", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: #0c1445;
  color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 32px;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 16px;
}

h3 {
  font-weight: 400;
  letter-spacing: 1px;
}

.f-weight-light {
  font-weight: 300;
}

button {
  background-color: #0c1445;
  font-family: "Noto Sans", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 32px;
  color: #fff;
  padding: 12px 48px;
  letter-spacing: 1px;
}